# Day 61 â€“ Mean, Median & Mode

In [1]:

import numpy as np
import pandas as pd

## Sample Dataset

In [2]:

data = [10, 20, 20, 30, 40, 50, 50, 50, 60]

df = pd.DataFrame({"Values": data})
df

   Values
0      10
1      20
2      20
3      30
4      40
5      50
6      50
7      50
8      60

## Mean

In [3]:

mean_value = df['Values'].mean()
mean_value

np.float64(36.666666666666664)

## Median

In [4]:

median_value = df['Values'].median()
median_value

40.0

## Mode

In [5]:

mode_value = df['Values'].mode()
mode_value

0    50
Name: Values, dtype: int64

## Using NumPy

In [6]:

np.mean(data), np.median(data)

(np.float64(36.666666666666664), np.float64(40.0))