# Day 32 – Reading & Writing Data (CSV, Excel, JSON)

## 1. Import Libraries

In [2]:
import pandas as pd

## 2. Reading CSV Files

In [16]:
df_csv1 = pd.read_csv('globalAirQuality.csv')
df_csv1

,timestamp,country,city,latitude,longitude,pm25,pm10,no2,so2,o3,co,aqi,temperature,humidity,wind_speed
0,2025-11-04 18:25:17.554219,US,New York,40.713,-74.006,50.295,108.938,27.998,6.539,52.568,1.096,108,18.504,70.168,3.725
1,2025-11-04 19:25:17.554219,US,New York,40.713,-74.006,32.083,63.043,36.120,4.021,43.536,1.075,90,5.838,80.088,8.969
2,2025-11-04 20:25:17.554219,US,New York,40.713,-74.006,42.250,82.553,26.935,9.538,23.320,0.977,84,31.833,62.783,9.650
3,2025-11-04 21:25:17.554219,US,New York,40.713,-74.006,30.403,79.951,63.536,7.609,31.369,0.230,158,23.140,89.153,8.956
4,2025-11-04 22:25:17.554219,US,New York,40.713,-74.006,21.083,66.423,38.997,6.919,45.615,1.085,97,13.632,76.499,4.017
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17995,2025-11-19 13:25:17.554219,CH,Zurich,47.377,8.542,27.899,74.179,41.474,6.677,50.869,1.028,103,7.079,52.443,7.452
17996,2025-11-19 14:25:17.554219,CH,Zurich,47.377,8.542,2.950,47.988,42.235,2.821,35.551,0.644,105,28.734,85.678,4.496
17997,2025-11-19 15:25:17.554219,CH,Zurich,47.377,8.542,61.347,72.908,46.976,5.763,66.492,0.947,122,21.951,72.311,9.660
17998,2025-11-19 16:25:17.554219,CH,Zurich,47.377,8.542,40.722,95.152,32.957,5.524,53.193,0.868,95,24.042,31.880,2.642
17999,2025-11-19 17:25:17.554219,CH,Zurich,47.377,8.542,25.830,30.411,35.317,4.336,66.246,0.848,88,8.529,59.104,4.403

## 3. Handling Missing Values while Importing

In [17]:
df_csv1.isna().sum()   #checking sum of null values in dataframe

timestamp      0
country        0
city           0
latitude       0
longitude      0
pm25           0
pm10           0
no2            0
so2            0
o3             0
co             0
aqi            0
temperature    0
humidity       0
wind_speed     0
dtype: int64

## 4. Writing Data to CSV

In [18]:
df_csv1.to_csv('globalAirQuality.csv', index=False)   #writing csv file
print('CSV file written successfully')

CSV file written successfully

## 5. Reading JSON Files

In [19]:
df_json1 = pd.read_json('employee_data.json')  #opening json file
df_json1.head()    #displaying first 5 rows data

   ID     Name  Age Department  Salary
0   1    Alice   25         HR   55000
1   2      Bob   32         IT   72000
2   3  Charlie   28    Finance   48000
3   4    David   45  Marketing   91000
4   5      Eva   38         IT   65000

## 6. Handling Missing Values while Importing

In [20]:
df_json1.isna().sum()   #checking sum of null values in dataframe

ID            0
Name          0
Age           0
Department    0
Salary        0
dtype: int64

## 7. Writing JSON Data

In [21]:
df_json1.to_json('employee_data.json', orient='records', indent=2)
print('JSON file written successfully')

JSON file written successfully

## 8. Reading Excel Files

In [22]:
# Read CSV file
df = pd.read_csv("loan_prediction.csv")

# Save as Excel file
df.to_excel("loan_prediction.xlsx", index=False)

print("CSV converted to Excel successfully!")
df.head()   #displaying first 5 rows data

CSV converted to Excel successfully!

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

## 9. Handling Missing Values while Importing

In [23]:
df.isna().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

## 8. When to use CSV vs Excel vs JSON
- **CSV**: Simple, fast, best for large tabular data
- **Excel**: Multiple sheets, business-friendly
- **JSON**: Nested data, APIs, web applications