# Day 57 â€“ Data Cleaning for EDA

In [8]:
# Step 1: Import Required Libraries
import pandas as pd
import numpy as np

print('Libraries Imported Successfully ')

Libraries Imported Successfully

In [9]:
# Step 2: Load Dataset
df = pd.read_csv('Salaries.csv',low_memory=False)

df.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

In [15]:
df.columns

Index(['Id', 'EmployeeName', 'JobTitle', 'BasePay', 'OvertimePay', 'OtherPay',
       'Benefits', 'TotalPay', 'TotalPayBenefits', 'Year', 'Notes', 'Agency',
       'Status'],
      dtype='object')

In [10]:
# Step 3: Basic Dataset Overview
print('Shape:', df.shape)
print('\nData Types:')
print(df.dtypes)
print('\nMissing Values:')
print(df.isnull().sum())

Shape: (148654, 13)

Data Types:
Id                    int64
EmployeeName         object
JobTitle             object
BasePay              object
OvertimePay          object
OtherPay             object
Benefits             object
TotalPay            float64
TotalPayBenefits    float64
Year                  int64
Notes               float64
Agency               object
Status               object
dtype: object

Missing Values:
Id                       0
EmployeeName             0
JobTitle                 0
BasePay                605
OvertimePay              0
OtherPay                 0
Benefits             36159
TotalPay                 0
TotalPayBenefits         0
Year                     0
Notes               148654
Agency                   0
Status              110535
dtype: int64

In [16]:
# Step 4: Handle Missing Values
df.drop(columns=['Notes'], inplace=True)   #droping empty columns

# df['BasePay'].fillna(df['BasePay'].mean(), inplace=True)  # Numerical
# df['column_name'].fillna(df['column_name'].mode()[0], inplace=True)  # Categorical

df.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011,San Francisco,NaN

In [13]:
# Step 5: Remove Duplicates
df = df.drop_duplicates()
print('Duplicates Removed ')

Duplicates Removed

In [17]:
# Step 6: Fix Data Types (if required)
# Convert Salary Columns to Numeric
salary_cols = ['BasePay','OvertimePay','OtherPay','Benefits','TotalPay','TotalPayBenefits']

for col in salary_cols:
    df[col] = pd.to_numeric(df[col], errors='coerce')


df.dtypes

Id                    int64
EmployeeName         object
JobTitle             object
BasePay             float64
OvertimePay         float64
OtherPay            float64
Benefits            float64
TotalPay            float64
TotalPayBenefits    float64
Year                  int64
Agency               object
Status               object
dtype: object

In [19]:
# Handle Missing Values
# Numerical â†’ fill with median
# Categorical â†’ fill with mode

# Numerical columns â†’ median
for col in num_cols:
    df[col] = df[col].fillna(df[col].median())

# Categorical columns â†’ mode
for col in cat_cols:
    df[col] = df[col].fillna(df[col].mode()[0])

In [20]:
# Clean Text Columns (EmployeeName, JobTitle, Agency, Status)
text_cols = ['EmployeeName','JobTitle','Agency','Status']

for col in text_cols:
    df[col] = df[col].str.strip().str.title()

In [21]:
# Remove Negative Salaries (Invalid Records)
for col in salary_cols:
    df = df[df[col] >= 0]

In [22]:
# Step 7: Detect Outliers (IQR Method Example)
for col in salary_cols:
    Q1 = df[col].quantile(0.25)
    Q3 = df[col].quantile(0.75)
    IQR = Q3 - Q1

    lower = Q1 - 1.5 * IQR
    upper = Q3 + 1.5 * IQR

    df = df[(df[col] >= lower) & (df[col] <= upper)]

In [24]:
print(df.info())
df.describe()

<class 'pandas.core.frame.DataFrame'>
Index: 111964 entries, 742 to 148652
Data columns (total 12 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                111964 non-null  int64
 1   EmployeeName      111964 non-null  object
 2   JobTitle          111964 non-null  object
 3   BasePay           111964 non-null  float64
 4   OvertimePay       111964 non-null  float64
 5   OtherPay          111964 non-null  float64
 6   Benefits          111964 non-null  float64
 7   TotalPay          111964 non-null  float64
 8   TotalPayBenefits  111964 non-null  float64
 9   Year              111964 non-null  int64
 10  Agency            111964 non-null  object
 11  Status            111964 non-null  object
dtypes: float64(6), int64(2), object(4)
memory usage: 11.1+ MB
None

,Id,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year
count,111964.000000,111964.000000,111964.000000,111964.000000,111964.000000,111964.000000,111964.000000,111964.000000
mean,77222.454619,56072.311813,1189.202468,1098.545535,23204.391500,58055.791044,74146.239976,2012.510977
std,42913.044038,38476.494762,2420.424947,1625.287559,13255.290462,39604.909670,51489.126865,1.120762
min,743.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2011.000000
25%,37588.000000,20189.682500,0.000000,0.000000,13328.020000,20537.667500,23923.020000,2012.000000
50%,76337.500000,57025.085000,0.000000,303.070000,28628.620000,59770.685000,78142.870000,2013.000000
75%,114038.500000,80171.030000,1058.597500,1520.000000,30065.307500,83160.000000,108937.440000,2014.000000
max,148653.000000,177413.320000,11762.810000,6871.360000,55276.600000,177724.000000,232784.640000,2014.000000

##  Data Cleaning Completed

Dataset is now ready for Exploratory Data Analysis (EDA).

Next Step â†’ Visualization & Insights ðŸ“Š