# Day 36 â€“ String Operations in Pandas

In [1]:
import pandas as pd

data = {
    'Names': [' Alice ', 'BOB', 'charlie', 'David '],
    'Emails': ['alice@gmail.com', 'bob@yahoo.com', 'charlie@gmail.com', 'david@outlook.com']
}

df = pd.DataFrame(data)
df

     Names             Emails
0   Alice     alice@gmail.com
1      BOB      bob@yahoo.com
2  charlie  charlie@gmail.com
3   David   david@outlook.com

## Convert strings to lowercase and uppercase

In [2]:
df['Names_lower'] = df['Names'].str.lower()
df['Names_upper'] = df['Names'].str.upper()
df

     Names             Emails Names_lower Names_upper
0   Alice     alice@gmail.com      alice       ALICE
1      BOB      bob@yahoo.com         bob         BOB
2  charlie  charlie@gmail.com     charlie     CHARLIE
3   David   david@outlook.com      david       DAVID

## Remove leading and trailing whitespaces

In [3]:
df['Names_stripped'] = df['Names'].str.strip()
df

     Names             Emails Names_lower Names_upper Names_stripped
0   Alice     alice@gmail.com      alice       ALICE           Alice
1      BOB      bob@yahoo.com         bob         BOB            BOB
2  charlie  charlie@gmail.com     charlie     CHARLIE        charlie
3   David   david@outlook.com      david       DAVID           David

## Replace text

In [4]:
df['Emails_replaced'] = df['Emails'].str.replace('gmail.com', 'company.com')
df

,Names,Emails,Names_lower,Names_upper,Names_stripped,Emails_replaced
0,Alice,alice@gmail.com,alice,ALICE,Alice,alice@company.com
1,BOB,bob@yahoo.com,bob,BOB,BOB,bob@yahoo.com
2,charlie,charlie@gmail.com,charlie,CHARLIE,charlie,charlie@company.com
3,David,david@outlook.com,david,DAVID,David,david@outlook.com

## Split strings

In [5]:
df[['Username', 'Domain']] = df['Emails'].str.split('@', expand=True)
df

,Names,Emails,Names_lower,Names_upper,Names_stripped,Emails_replaced,Username,Domain
0,Alice,alice@gmail.com,alice,ALICE,Alice,alice@company.com,alice,gmail.com
1,BOB,bob@yahoo.com,bob,BOB,BOB,bob@yahoo.com,bob,yahoo.com
2,charlie,charlie@gmail.com,charlie,CHARLIE,charlie,charlie@company.com,charlie,gmail.com
3,David,david@outlook.com,david,DAVID,David,david@outlook.com,david,outlook.com

## Check if string contains a pattern

In [6]:
df['Is_Gmail'] = df['Emails'].str.contains('gmail')
df

,Names,Emails,Names_lower,Names_upper,Names_stripped,Emails_replaced,Username,Domain,Is_Gmail
0,Alice,alice@gmail.com,alice,ALICE,Alice,alice@company.com,alice,gmail.com,True
1,BOB,bob@yahoo.com,bob,BOB,BOB,bob@yahoo.com,bob,yahoo.com,False
2,charlie,charlie@gmail.com,charlie,CHARLIE,charlie,charlie@company.com,charlie,gmail.com,True
3,David,david@outlook.com,david,DAVID,David,david@outlook.com,david,outlook.com,False