# Day 40 â€“ Apply, Map & Lambda Functions in Python

##  Lambda Functions
Lambda functions are small anonymous functions written in a single line.

In [1]:
# Lambda function example
square = lambda x: x * x
square(5)

25

##  map() Function
The map() function applies a function to each element of an iterable.

In [2]:
numbers = [1, 2, 3, 4, 5]

# Using map with lambda
squared_numbers = list(map(lambda x: x**2, numbers))
squared_numbers

[1, 4, 9, 16, 25]

##  apply() Function in Pandas
apply() is used to apply a function row-wise or column-wise in a DataFrame.

In [3]:
import pandas as pd

df = pd.DataFrame({
    'A': [10, 20, 30],
    'B': [5, 15, 25]
})

df

    A   B
0  10   5
1  20  15
2  30  25

In [4]:
# Column-wise apply
df['Sum'] = df.apply(lambda row: row['A'] + row['B'], axis=1)
df

    A   B  Sum
0  10   5   15
1  20  15   35
2  30  25   55

## apply() on Columns

In [6]:
# Apply on columns
abc=df.apply(lambda col: col.max())
abc

A      30
B      25
Sum    55
dtype: int64