# Day 37 â€“ Datetime Handling with Pandas

## Example 1: Converting to Datetime

In [1]:
import pandas as pd

data = {'date': ['2024-01-01', '2024-02-15', '2024-03-20']}
df = pd.DataFrame(data)
df['date'] = pd.to_datetime(df['date'])
df

        date
0 2024-01-01
1 2024-02-15
2 2024-03-20

## Example 2: Extracting Date Components

In [2]:
df['year'] = df['date'].dt.year
df['month'] = df['date'].dt.month
df['day'] = df['date'].dt.day
df

        date  year  month  day
0 2024-01-01  2024      1    1
1 2024-02-15  2024      2   15
2 2024-03-20  2024      3   20

## Example 3: Date Difference (Timedelta)

In [3]:
df['days_from_start'] = df['date'] - df['date'].min()
df

        date  year  month  day days_from_start
0 2024-01-01  2024      1    1          0 days
1 2024-02-15  2024      2   15         45 days
2 2024-03-20  2024      3   20         79 days

## Extra Example 4: Filtering by Date Range

In [4]:
filtered_df = df[df['date'] >= '2024-02-01']
filtered_df

        date  year  month  day days_from_start
1 2024-02-15  2024      2   15         45 days
2 2024-03-20  2024      3   20         79 days

## Extra Example 5: Handling Different Date Formats

In [5]:
dates = pd.Series(['01-04-2024', '15-05-2024', '30-06-2024'])
pd.to_datetime(dates, format='%d-%m-%Y')

0   2024-04-01
1   2024-05-15
2   2024-06-30
dtype: datetime64[ns]

## Extra Example 6: Weekday Extraction

In [6]:
df['weekday'] = df['date'].dt.day_name()
df

        date  year  month  day days_from_start    weekday
0 2024-01-01  2024      1    1          0 days     Monday
1 2024-02-15  2024      2   15         45 days   Thursday
2 2024-03-20  2024      3   20         79 days  Wednesday